;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Jul  9 21:58:43 2017
;; Desktop file format version 206
;; Emacs version 22.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/jesuszarate/SchoolSemesters/Summer2017/3D-Modeling/week7/Week7Checkin/Week7Check-in.tex"
  "Week7Check-in.tex"
  'latex-mode
  nil
  751
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . mule-utf-8-unix)))

(desktop-create-buffer 206
  "/Users/jesuszarate/SchoolSemesters/Summer2017/3D-Modeling/week6/Week6Checkin/Week6Check-in.tex"
  "Week6Check-in.tex"
  'latex-mode
  nil
  1338
  '(1009 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . mule-utf-8-unix)))

(desktop-create-buffer 206
  "/Users/jesuszarate/SchoolSemesters/Summer2017/3D-Modeling/Week4-Torso/Week4Checkin/Week4Check-in.tex"
  "Week4Check-in.tex"
  'latex-mode
  nil
  1164
  '(1049 t)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . mule-utf-8-unix)))

